{% extends 'cbms/_base.html' %}
  {% block content %}
    <h2>請求一覧</h2>
    <form class="" action="{% url 'billing' %}" method="post">
      {% csrf_token %}
      {{form.choice.label_tag}}
      {{ form.choice }}
      <input type="submit" value="取得">
    </form>

    <table>
      <tr>
        <th>顧客ID</th>
        <th>顧客名</th>
        <th>ジャンル</th>
        <th>合計レッスン数</th>
        <th>請求金額</th>
      </tr>

        {% for billing in billings %}
          <tr>
            <td>{{billing.costomer_id}}</td>
            <td>{{billing.costomer_name}}</td>
            <td>{{billing.genre}} ({{billing.genre_num}})</td>
            <td>{{billing.total}}</td>
            <td>{% if billing.total != 0 %}
                  {{billing.total_billing}}
                {% else %}
                  0
                {% endif %}
            </td>
          </tr>
        {% endfor %}
    </table>
  {% endblock content %}
