{% extends 'cbms/_base.html' %}
  {% block content %}
    <h2>顧客一覧</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>性別</th>
        <th>年齢</th>
        <th></th>　<!-- 編集欄 -->
      </tr>
      {% for costomer in data %}
        <tr>
          <td>{{costomer.id}}</td>
          <td>{{costomer.name}}</td>
          <td>{% if costomer.gender == '1' %}女{% endif %}
              {% if costomer.gender == '2' %}男{% endif %}</td>
          <td>{{costomer.age}}</td>
          <td><a href="{% url 'costomer_edit' costomer.id %}" class="edit-clm" >編集</a></td>
      {% endfor %}
      </tr>
    </table>

    <div class="btn">
      <a href="{% url 'costomer_create' %}">新規追加</a>
    </div>
  {% endblock content %}
