{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cbms/css/style.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <h2>レッスン受講記録登録</h2>
      <table>
        <form action="{% url 'history_create' %}" method="post">
          {% csrf_token %}
          {{ message }}
          {{ form.as_table }}
          <tr>
            <td></td>
            <td><input type="submit" value="登録"><td/>
          </tr>
        </form>
      </table>

      <div class="btn">
        <a href="{% url 'histories' %}">戻る</a>
      </div>
    </div>
  </body>
</html>
